<!DOCTYPE html>
<html>

{% include header.html %}

<body>

  <script>
    document.body.className = document.body.className
      ? document.body.className + " js-enabled"
      : "js-enabled";
  </script>

  <div class="nhsuk-grid-row" style="margin-top: 0.5rem"></div>

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {{ content }}
        </div>
      </div>
    </main>
  </div>

  {% include footer.html %}
</body>

</html>